<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <title>Não</title>
</head>
<body>
    
<style>

button {
        padding: 20px;
        width: 250px;
        border: none;
        outline: none;
        font-family: 'Arial';
        font-size: 1.1em;
        transition: all .5s;
        cursor: pointer;
        border-radius: 25px;
        position: absolute;
        bottom: 80px;
        left: 570px;
        display: inline-block;
        z-index: 10;
    }

    button:hover {
        background-color: #056497;
    }

    button:active {
        background-color: #075D70;
    }

    #meta{
    font-size: 28px;
    font-family: 'Roboto';
    position: absolute;
    width: 600px;
    left: 400px;
    bottom: 550px;
    font-weight: bolder;
    text-shadow: 2px 2px 2px black;
    
}

#volte{
    font-size: 28px;
    font-family: 'Roboto';
    position: absolute;
    width: 600px;
    left: 405px;
    bottom: 505px;
    font-weight: bolder;
    text-shadow: 2px 2px 2px black;
    
}

.triste{
    width: 250px;
    height: 250px;
    position: absolute;
    left: 560px;
    bottom: 210px;
   
}

</style>

    <div style="background-color: #0DCEC3;
    border-radius: 10px; 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 15px;
     border: 1px solid #0000; 
     padding: 10px;
     width: 645px;
     height: 586px;
     position: absolute;
     left: 363px;"
     >
    </div>

    
<div id="meta">
    PARECE QUE VOCÊ NÃO COMPLETOU A META.
</div>
<div href = "/" id="volte">
    VOLTE PARA O CRONÔMETRO PARA FAZÊ-LO
</div>

<div class="carinha-triste">
    <img class="triste" src="./images/Rosto Triste Em Quadrado Arredondado ícones em vetor livre criados por Freepik.png">
</div>

<a href="/4" style="top: 475px; left: 545px; position: absolute;" class="black waves-light btn-large">Voltar para o Cronômetro</a>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>
</html>