<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title> Benefícios da água </title>
    <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="stylesheet" href="Pagina2.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Numans&display=swap" rel="stylesheet">

</head>
<body>

    <style>

#frase1{
    font-size: 25px;
    font-family: 'Nunito';
    font-weight: bolder;
    position: absolute;
    color: white;
    left: 520px;
    top: 50px;
    text-shadow: 2px 2px 2px black;
}

#contFrase1{
    font-size: 25px;
    font-family: 'Nunito';
    font-weight: bolder;
    color: white;
    position: absolute;
    left: 598px;
    bottom: 500px;
    text-shadow: 2px 2px 2px black;
}

   #frase2{
    font-family: 'Numans';
    font-size: 15px;
    top: -364px;
    width: 458px;
    position: absolute;
    right: 40px;
}
    #frase3{
    font-family: 'Numans';
    font-size: 15px;
    position: absolute;
    width: 458px;
    top: -344px;
    right: -10px;
    }

    #frase4{
    font-family: 'Numans';
    font-size: 15px;
    position: absolute;
    width: 458px;
    left: -410px;
    top: -324px;

    }
   
    #frase5{
    font-family: 'Numans';
    font-size: 15px;
    position: absolute;
    width: 458px;
    left: -435px;
    top: -304px;
    }

    #frase6{
    font-family: 'Numans';
    font-size: 15px;
    position: absolute;
    width: 458px;
    left: -350px;
    top: -284px;
    }

    #frase7{
        font-family: 'Nunito';
        font-size: 15px;
        position: absolute;
        left: -485px;
        bottom: 208px;
        font-weight: bolder;
    }

    #frase8{
        font-family: 'Nunito';
        font-size: 15px;
        position: absolute;
        left: -439px;
        bottom: 181px;
        font-weight: bolder;
    }

    #frase9{
        font-family: 'Nunito';
        font-size: 15px;
        position: absolute;
        left: -467px;
        bottom: 154px;
        font-weight: bolder;
    }

    #frase10{
        font-family: 'Nunito';
        font-size: 15px;
        position: absolute;
        left: -490px;
        bottom: 128px;
        font-weight: bolder;
    }

    #frase11{
        font-family: 'Nunito';
        font-size: 15px;
        position: absolute;
        left: -468px;
        bottom: 104px;
        font-weight: bolder;
    }

    #frase12{
        font-family: 'Nunito';
        font-size: 15px;
        position: absolute;
        bottom: 204px;
        font-weight: bolder;
        left: -120px;
    }

    #frase13{
        font-family: 'Nunito';
        font-size: 15px;
        position: absolute;
        bottom: 176px;
        font-weight: bolder;
        left: -123px;
    }

    #frase14{
        font-family: 'Nunito';
        font-size: 15px;
        position: absolute;
        bottom: 148px;
        font-weight: bolder;
        left: -120px;
    }

    #frase15{
        font-family: 'Nunito';
        font-size: 15px;
        position: absolute;
        bottom: 120px;
        font-weight: bolder;
        left: -133px;
    }

    </style>

<div style="background-color: #0DCEC3;
border-radius: 10px; 
-moz-border-radius: 10px; 
-webkit-border-radius: 15px;
 border: 1px solid #0000; 
 padding: 10px;
 width: 645px;
 height: 586px;
 position: absolute;
 left: 363px;"
 >
</div>

<div id="frase1">
    POR QUE BEBER ÁGUA É TÃO
</div>
<div id="contFrase1">
    IMPORTANTE?
</div>

<a href="/3" style="top: 520px; left: 850px; position: absolute;" class="black waves-light btn">Próximo<i class="material-icons right">arrow_forward</i></a>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <div style="background-color: #5EB5E5;
     padding: 10px;
     width: 545px;
     height: 156px;
     position: absolute;
     right: -12px;
     top: -400px;"
     >
    </div>

    <div style="background-color: #BAE6FF;
     padding: 10px;
     width: 215px;
     height: 156px;
     position: absolute;
     right: -12px;
     top: -200px;"
     >
    </div>

    <div style="background-color: #BAE6FF;
     padding: 10px;
     width: 215px;
     height: 156px;
     position: absolute;
     right: 317px;
     top: -200px;"
     >
    </div>

    <div id="frase2">
    Entre 60% e 70% do corpo humano é composto por água. 
    </div>
<div id="frase3">
    Ela ajuda a hidratar, a levar os nutrientes, 
</div>
<div id="frase4">
    como oxigênio e sais minerais até as células, 
</div>
<div id="frase5">
    além de expulsar as substâncias tóxicas do corpo
</div>
<div id="frase6">
    por meio do suor e da urina
</div>

<div id="frase7">
    Seus principais benefícios são: 
</div>
<div id="frase8">
    hidratar o corpo,
</div>
<div id="frase9">
    ajuda no emagrecimento,
</div>
<div id="frase10">
    melhora a circulação sanguínea,
</div>
<div id="frase11">
    mantém a pele saudável
</div>
<div id="frase12">
    Estimula o cérebro
</div>
<div id="frase13">
    Evita a desidratação
</div>
<div id="frase14">
    Combate doenças
</div>
<div id="frase15">
    Entre outros benefícios
</div>
    </body>
    </html>