<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <title>Sim</title>
</head>
<body>
    <style>
#parabens1{
    font-size: 28px;
    font-family: 'Roboto';
    position: absolute;
    width: 600px;
    left: 500px;
    bottom: 523px;
    font-weight: bolder;
    text-shadow: 2px 2px 2px black;
}

#parabens2{
    font-size: 28px;
    font-family: 'Roboto';
    position: absolute;
    width: 358px;
    left: 638px;
    bottom: 483px;
    font-weight: bolder;
    text-shadow: 2px 2px 2px black;
}

#parabens3{
    font-size: 28px;
    font-family: 'Roboto';
    position: absolute;
    width: 500px;
    left: 458px;
    bottom: 443px;
    font-weight: bolder;
    text-shadow: 2px 2px 2px black;
}

#parabens4{
    font-size: 28px;
    font-family: 'Roboto';
    position: absolute;
    width: 300px;
    left: 620px;
    bottom: 403px;
    font-weight: bolder;
    text-shadow: 2px 2px 2px black;
}

#parabens5{
    font-size: 28px;
    font-family: 'Roboto';
    position: absolute;
    width: 600px;
    left: 450px;
    bottom: 362px;
    font-weight: bolder;
    text-shadow: 2px 2px 2px black;
}

#parabens6{
    font-size: 28px;
    font-family: 'Roboto';
    position: absolute;
    width: 500px;
    left: 600px;
    bottom: 322px;
    font-weight: bolder;
    text-shadow: 2px 2px 2px black;
}

#total{
    font-size: 30px;
    font-family: 'Roboto';
    position: absolute;
    bottom: 205px;
    left: 475px;
    color: #1739EC;
    text-shadow: 2px 2px 2px #77116D;
}

button {
        padding: 20px;
        width: 250px;
        border: none;
        outline: none;
        font-family: 'Arial';
        font-size: 1.1em;
        transition: all .5s;
        cursor: pointer;
        border-radius: 25px;
        position: absolute;
        bottom: 80px;
        left: 570px;
        display: inline-block;
        z-index: 10;
    }

    button:hover {
        background-color: #056497;
    }

    button:active {
        background-color: #075D70;
    }

    </style>

<a href="/4" style="top: 550px; left: 950px; position: absolute;" class="black waves-light btn-large">Voltar para o Cronômetro</a>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <div style="background-color: #0DCEC3;
    border-radius: 10px; 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 15px;
     border: 1px solid #0000; 
     padding: 10px;
     width: 645px;
     height: 586px;
     position: absolute;
     left: 363px;"
     >
    </div>

    <div id="parabens1">
        PARABÉNS, VOCÊ GANHOU 200
    </div>
    <div id="parabens2">
       PONTOS!!
    </div>
    <div id="parabens3">
        CONTINUE ACUMULANDO ATÉ O FINAL
    </div>
    <div id="parabens4">
        DO DIA PARA
    </div>
    <div id="parabens5">
        OBTER 1000 PONTOS, EQUIVALENTE À 2
    </div>
    <div id="parabens6">
        LITROS DE ÁGUA
    </div>

    <div style="background-color: #020321;
    border-radius: 8px; 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 15px;
     border: 1px solid #0000; 
     padding: 10px;
     width: 433px;
     height: 58px;
     position: absolute;
     left: 463px;
     bottom: 185px;"
     >
    </div>

    <div id="total">
        Seu total de pontos é:
    </div>

</body>
</html>



 
 
