<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rakkas&display=swap" rel="stylesheet">
    
    <title>Lembrete</title>
</head>
<body>
    <style>

#lembrete{
    color: #1B64D2;
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Nunito';
    position: absolute;
    top: 40px;
    left: 613px;
    text-shadow: 2px 2px 2px #4B8E97;
}

#beba{
    color: #2D109E;
    font-size: 36px;
    position: absolute;
    font-family: 'Rakkas', cursive;
    left: 910px;
    text-shadow:2px 2px #0E3DE1;

}

#agua{
    color: #2D109E;
    font-size: 36px;
    position: absolute;
    font-family: 'Rakkas', cursive;
    left: 910px;
    top: 50px;
    text-shadow:2px 2px #0E3DE1;
}

.botao-v{
    position: absolute;
    left: 470px;
    bottom: 90px;
}

.botao-x{
    position: absolute;
    left: 75px;
    bottom: -1px;

}

#bebeu{
    font-size: 35px;
    font-family: 'Nunito';
    color: #000000;
    text-shadow: 2px 2px 2px #0E3DE1;
    position: absolute;
    top: -50px;
    right: 5px;
}
#ml{
    font-size: 36px;
    font-family: 'Nunito';
    font-weight: bolder;
    position: absolute;
    left: 290px;
    top: -45px;
}
.copo-lembrete{
    width: 360px;
    height: 280px;
    top: -342px;
    left: -27px;
    position: absolute;
}
    </style>

<div style="background-color: #0DCEC3;
border-radius: 10px; 
-moz-border-radius: 10px; 
-webkit-border-radius: 15px;
 border: 1px solid #0000; 
 padding: 10px;
 width: 645px;
 height: 586px;
 position: absolute;
 left: 363px;"
 >
</div>

<div id="lembrete">
    LEMBRETE
</div>

<div id="beba">
    BEBA
</div>

<div id="agua">ÁGUA</div>

<div class="botao-v">
    <input type="image" 
    src="./images/botaov.png" 
    width="70px">
</div>

    <div class="botao-x">
        <input type="image" 
        src="./images/botaox.png" 
        width="70px">
    </div>

        <div id="bebeu">BEBEU?</div>

        <div id="ml">200ML</div>

        <div class="copo-lembre">
            <img class="copo-lembrete" src="./images/copo.jpg">
        </div>

<a href="/6" style="top: 520px; left: 850px; position: absolute;" class="black waves-light btn">Próximo<i class="material-icons right">arrow_forward</i></a>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        
</body>
</html>